@import 'style_specs';
$mainTextBackground: $yellow;
$buttonBackgroundEnabled: $black;
$buttonColorEnabled: $white;
@import 'reset';
@import 'button';

h1 {
  font-family: $headlineFont;
  text-transform: uppercase;
  font-size: 2.5em;
}

h2 {
  font-weight: bold;
  font-size: 1.15em;
  margin: 15px 0px 25px;
}

body {
  font-family: $bodyFont;
  font-size: .95em;
  background-image: url('../assets/images/background.jpg');
}

header {
  background-color: $black;
}

header img {
  height: 45px;
  margin: 5px;
}

.main {
  padding: 50px 0px 0px 20px;
}

.main__text {
  background-color: $mainTextBackground;
  padding: 15px;
  width: 500px;
}

.hw-form-question {
  padding-bottom: 15px;
}

label {
  display: block;
}

input {
  font-family: inherit;
  font-size: inherit;
  border: 2px $black solid;
  padding: 5px;
  margin: 10px 0px;
  background-color: $white;

}

p {
  display: inline;
}

.hw-form-button-row {
  // margin-top: 10px;
}

.hw-form-button-row button {
  margin-left: 20px;
}
.hw-form-button-row button:first-child {
  margin-left: 0px;
}

.alert {
  color: $red;
  margin-top: 10px;
}

@media screen and (max-width:550px) {
  .main__text {
    width: 100%;
  }
}

@media screen and (max-width:360px) {
  .main__text {
    width: 100%;
  }


  .hw-form-button-row button {
    margin-top: 20px;
    margin-left: 0px;
    display: block;
  }

  .hw-form-button-row button:first-child {
    margin-top: 0px;
  }
}
